<div class="container bg-grey ">
  <form class="container" #f="ngForm" (ngSubmit)="search(f)">
    <h1 class="fs-3 fw-bold">Beer List:</h1>
    <div>
      <label for="name">Beer Name:</label>
      <select id="name" name="name" required ngModel>
        <option *ngFor="let beer of beerArr" [value]="beer.id">{{beer.name}}</option>
      </select>
    </div>
    <div>
      <label for="type">Beer Type:</label>
      <select id="type" name="type" required ngModel>
        <option value="medium">medium</option>
        <option value="small">small</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="f.invalid">Search</button>
  </form>
</div>
<div class="container bg-teal text-center">
  <h2 class=" fw-bold">Results for name:</h2>
  <div  *ngIf="myBeer">
    <app-card class="name-result" [beer]="myBeer"></app-card>
  </div>

<div class="container text-center">
  <h2 class=" fw-bold">Results for type:</h2>
  
    <app-card *ngFor="let beer of beerArr| filterPipe:filter" [beer]="beer" ></app-card>
  </div>

  